# игнорируем все файлы и каталоги с названием Thumbs.db
Thumbs.db

# игнорируем все файлы и каталоги с расширением .DS_Store
*.DS_Store

# игнорируем файлы название которых заканчивается на _old
*_old

# игнорируем файлы название которых заканчивается на _backup
*_backup

# игнорируем файлы из подкаталога tmp
/tmp/
